.goals {
    display: grid;
    grid-template-columns: repeat(2,400px);
    column-gap: 50px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.goal { 
    font-size: 30px;
    padding: 1.5em;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-radius: 25px;
    border-color: black;
    border-width: 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.goal > button {
    color: brown;
    border : none; 
    padding: 0%;
    margin: 0%;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: brown;
}

.goal > button:hover {
    color : blue; 
}