    <h1>My Goals</h1>
    <hr>
    <ul class="goals">
      <div *ngFor='let goal of goals ; let i = index' class="goal">
        <li appStrikethrough>{{goal.name}} due  {{ goal.commpleteDate |  dateCount }} </li>
        <app-goaldetail 
          *ngIf="goal.showDescription" 
          [goal] = 'goal'
          (isComplete)= "deleteGoal($event,i)"
        ></app-goaldetail>
        <button (click)="toggleDetails(i)">Toggle Details </button>
      </div>
    </ul>
<p *ngIf="goals.length > 5"> You have too many Goals </p>